# Example Export Exchange Lockbox
- name: Ensure AgentSerive Running
  hosts: windows
  vars:
   agent_src: /tmp
  vars_files: 
    - ./vars/main.yml
    - ./vars/agents_vars.yaml
  tasks:
  - name: Run PowerShell script with parameters
    ansible.windows.win_powershell:
      script: |
        $Config=Import-ExchangeBackupConfigFile -Restore
        write-output $Config
    register: pwsh_output
  - debug:
     msg:
       "{{ pwsh_output.output }}"
