# Example Export Exchange Lockbox
- name: Create Lockbox
  hosts: windows
  vars:
   agent_src: /tmp
   exchange_source: exchange1
   exchange_proxy: launchpad
  vars_files: 
    - ./vars/main.yml
    - ./vars/agents_vars.yaml
  tasks:
  - name: Run PowerShell script with parameters
    ansible.windows.win_powershell:
      script: |
        $Config=Import-ExchangeBackupConfigFile -Restore
        write-output $Config
    register: pwsh_output
    when: ansible_hostname ex "{{ exchange_source }}"
  - debug:
     msg:
       "{{ pwsh_output.output }}"
    when: pwsh_output.output is defined   
  - ansible.builtin.set_fact:
      lockbox: "{{ pwsh_output.output }}"
    when: pwsh_output.output is defined  


