# Example Playbook to configure query PPDM Server Disaster Recovery
- name: Get sync-instance
  hosts: localhost
  gather_facts: yes
  connection: local
  vars_files: 
    - ./vars/main.yml
  vars:
      isoformat: '%Y-%m-%dT%H:%M:%S.%fZ'
  tasks:
  - name: Setting Base URL
    set_fact: 
      ppdm_baseurl: "https://{{ ppdm_fqdn | regex_replace('^https://') }}"     
  - name: Get PPDM Token for https://{{ ppdm_fqdn | regex_replace('^https://') }}
    include_role: 
      name: get_ppdm_token
    vars: 
      ppdm_password: admin
  - debug: 
      msg: "{{ access_token }}"
      verbosity: 1
    name: do we have a token ?  

  - name: get disaster recovery confgurations
    include_role:
      name: get_ppdm_server_disaster_recovery_confgurations
  - debug:
      msg: "{{ server_disaster_recovery_configuration }}"     
      verbosity: 0     
    when: server_disaster_recovery_configuration is defined                 

  - name: get disaster recovery confgurations
    include_role:
      name: query_ppdm_server_disaster_recovery_confgurations
    vars:
      body: 
        credentialPassword: "Password123!!"
        credentialUsername: "{{ ppdm_fqdn | regex_replace('^https://')}}" 
        id: "{{ server_disaster_recovery_configuration.id }}"
        repositoryFilesystem: "BOOST_FILE_SYSTEM"
        repositoryHost: "{{ server_disaster_recovery_configuration.repositoryHost }}"
        repositoryPath: ""
    when: server_disaster_recovery_configuration is defined               
  - debug:
      msg: "{{ query_server_disaster_recovery_configuration }}"     
      verbosity: 0     
    when: query_server_disaster_recovery_configuration is defined        