- name: Deploy PPDM
  hosts: localhost
  gather_facts: no
  connection: local
  vars_files: 
    - ./vars/main.yml
  vars: 
    ovf:  /home/admin/dellemc-ppdm-sw-19.16.0-15.ova
    datacenter: democenter
    datastore: nfs-datastore
    disk_provisioning: thin
    networks: '{"VM Network": "prod vm network"}'
  tasks:
  - vmware_deploy_ovf:
      hostname: '{{ vcenter_hostname }}'
      username: '{{ vcenter_username }}'
      password: '{{ vcenter_password }}'
      datacenter: '{{ datacenter }}'
      datastore: '{{ datastore }}'
      ovf: /home/a
      wait_for_ip_address: true
      networks: '{{ networks }}'
    delegate_to: localhost